<div class="container">
  <h1>Leave A Comment</h1>

  <% if logged_in? %>
    <%= form_for @comment do |f| %>
      <%= f.text_area :content %><br>
      <%= f.submit %>
    <% end %>
  <% else %>
    You must be <%= link_to "logged in", new_post_path %> to leave a comment.
  <% end %>
</div>
