body {
  font-family: 'Titillium Web', sans-serif;
}

nav {
  float: right;
}

header {
  padding: 2em;
}

a {
  text-decoration: none;
  color: #66CCFF;
}

a:hover {
  color: #999;
}

.logo {
  color: #000;
  font-size: 2.3em;
  font-family: 'Alfa Slab One', cursive;
}

.container {
  width: 60%;
  margin: auto;
  border: 1px #999 solid;
  padding: 2em;
}

h1, h2, h3 {
  color: #999;
  font-family: 'Oswald', sans-serif;
}

.button {
  margin: 2em;
  background: #F5F5F0;
  padding: 0.4em;
  border-radius: 0.2em;
}

.comment {
  background: #F0FAFF;
  padding: 1.2em;
}

.avatar {
  border-radius: 50%;
  border: 1px #000 solid;
}
