<div class="container">
  <h1>Welcome.</h1>

  <p>Users must be registered to create posts and comments.</p>

  <h3>Recent Blog Posts</h3>

  <% if @posts.empty? %>
    <p>There are currently no blog posts.<br>
      Log in to <%= link_to "create a new blog post", new_post_path %>.</p>
  <% else %>
    <% @posts.each do |post| %>
      <%= post.title %> by <%= post.user.username %><br>
    <% end %>
  <% end %>
</div>
