header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8em;
  background: #333;
  z-index: 1;
}

.logo, a.logo:hover {
  color: #FFF;
  font-size: 1.8em;
  font-family: 'Alfa Slab One', cursive;
}

nav {
  float: right;
  margin: 0 1em 0;

  a {
    margin: 2em;
    padding: 0.4em;
  }
}

.slider-content {
  background: #333;
  border-left: #000 1px solid;
  position: absolute;
  top: 4em;
  left: 71.5em;
  width: 8.5em;
  line-height: 275%;
  z-index: -1;
  text-align: center;

  a {
    margin: 0;
  }
}

.avatar-icon {
  width: 3em;
  height: 3em;
}