html, body {
  height: 100%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-image: asset-url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #CCC;
}

main {
  position: relative;
  width: 60%;
  margin: 4.6em auto 0;
  padding: 2em;
  background: rgba(204, 204, 204, 0.7);
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #ADEBEB;
}

a:hover {
  color: #7DAAAA;
}

.container {
  width: 60%;
  margin: auto;
  border: 1px #999 solid;
  padding: 2em;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

.button {
  margin: 2em;
  background: #F5F5F0;
  padding: 0.4em;
  border-radius: 0.2em;
}

.comment {
  background: #F0FAFF;
  padding: 1.2em;
}

.avatar {
  border-radius: 50%;
  border: 1px #000 solid;
}
