html, body {
  height: 100%;
}

.background {
  font-family: 'Titillium Web', sans-serif;
  background-image: asset-url('background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #CCC;
}

.container {
  position: relative;
  width: 60%;
  margin: 4.6em auto 0;
  padding: 2em;
  min-height: 100%;
  color: #FFF;
}

.container-popup {
  position: relative;
  margin: 3em auto 0;

  input[type='text'] {
    border: 1px solid #CCC;
  }

  textarea {
    height: 23em;
    border: 1px solid #CCC;
  }
}

a {
  text-decoration: none;
  color: #ADEBEB;
}

a:hover {
  color: #7DAAAA;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

.comment {
  background: #F0FAFF;
  padding: 1.2em;
}

.button, a.button:hover {
  background: #D4E1E1;
  padding: 0.8em;
  border-radius: 0.5em;
  border: none;
  color: #333;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  outline: none;
}

a.button:hover {
  background: #BFCACA;
}

.center {
  margin: auto;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.highlight {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}

.main-div {
  background: #587777;
  border-radius: 1em;
  padding: 1em;
}

.sub-div {
  background: rgba(51, 51, 51, 0.6);
  border-radius: 1em;
  padding: 1em;
}

form {
  text-align: center;

  input[type='text'], input[type='password'] {
    width: 80%;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    padding: 0.7em;
    border: none;
    outline: none;
  }

  textarea {
    margin: auto;
    width: 80%;
    height: 10em;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9em;
    padding: 0.5em;
    border: none;
    outline: none;
  }
}

button {
  a.fancybox {
    color: #333;
  }
}

.blog-sample {
  word-wrap: break-word;
}

