.profile-header {
  background: #587777;
  height: 1em;
  text-align: center;
  color: #333;
  width: 70%;
  margin: auto;
  padding: 1em;
}

.avatar {
  border-radius: 50%;
}

.profile-container {
  text-align: center;
}

.profile-stats {
  background: #587777;
  text-align: left;
  width: 70%;
  margin: 5em auto 0;
  padding: 1em;
  color: #333;
}

.profile-posts {
  text-align: left;
  margin: auto;
  width: 70%;
  padding: 1em;
}