<header>
  <a class="logo" href="#">Another Blog.</a>

  <nav>
    <% if logged_in? %>
      <a class="button" href="">Create Post</a> |
      <a class ="button" href="<%= user_path(session[:user_id]) %>">Profile</a> |
      <a class="button" href="">Log Out</a>
    <% else %>
      <a class ="button" href="<%= new_user_path %>">Sign Up</a> |
      <a class="button" href="">Log In</a>
    <% end %>
  </nav>
</header>
